.idea
.ipynb_checkpoints

/tmalign/TMalign
/gromacs/gromacs-2024.2/**
/gromacs/charmm36-jul2022.ff/**
/figures

/data/*/raw
/data/*/featurized
/data/*/processed
/data/*/generated/viz
/data/*/generated/C/**
!/data/*/generated/C/*_grades.csv
/data/*_gen.csv

/notebooks/conservation/CR/*/*
/notebooks/conservation/wd/*/*

/notebooks/docking/wd/*/*.png
/notebooks/docking/wd/*/*/*.log

/notebooks/dynamics/wd-md1/*
/notebooks/dynamics/wd-md2/*

/notebooks/phylogeny/wd/FastTree
/notebooks/phylogeny/wd/pdbs.zip
/notebooks/phylogeny/wd/FoldTreeResult.zip
/notebooks/phylogeny/wd/*.png

/notebooks/side-chain-modeling/wd/*/*/